$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;
$color-fond: #f9f9f9;

$ombre-default: 6px 6px 20px rgba(128, 128, 128, 0.5);


@keyframes loading-spinner  {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes contenu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.loading-spinner {
    position: fixed;
    top: 45%;
    left: 45%;
    opacity: 1;
    animation: loading-spinner;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    font-size: 4em;
    color: $color-primaire;
}
.fa-spinner {
    transform: rotate(1turn);
    transition: transform 1s linear;
}
.contenu {
    opacity: 0;
    animation: contenu;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

body, html {
    max-width: 414px;
    margin: auto;
    font-family: 'Roboto';
    font-size: 1em;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
header {
    text-align: center;
    padding: 1.5em 0 0.5em 0;
}

.titre {
    font-size: 1.5em;
    &--shrikhand {
        font-family: 'Shrikhand', cursive;
        font-size: 1.1em;
        font-weight: lighter;
    }
}
.logo {
    height: 2em;
}
.recherche {
    background-color: $color-fond;
    text-align: center;
    padding-bottom: 3em;
    & > .titre {
        margin: 1.5em 3em 0 3em;
    }
}
.recherche a {
    border: none;
    border-radius: 1.5em;
    color: white;
    padding: 1em;
    background-color: $color-primaire;
    font-size: 1em;
    font-weight: normal;
    &:hover {
        background: radial-gradient(ellipse at top, $color-secondaire, $color-primaire);
        box-shadow: $ombre-default; 
    }
}
.localisation {
    background-color: darken($color-fond, 5%);
    color: darken($color-fond, 70%);
    box-shadow: inset 0px 2px 5px -2px rgba(128, 128, 128, 0.5);
    padding: 1em;
    & > i {
        padding-right: 1em;
    }
}
.soustitre {
    font-weight: lighter;
    color: darken($color-fond, 50%);
    margin: 1em 2em 2em 2em;
}

.fonctionnement {
    padding: 1em 1em 3em 1em;
}
.etape {
    padding: 1em;
    margin-left: 0.5em;
    margin-top: 1em;
    border-radius: 1.2em;
    background-color: $color-fond;
    & > i {
        padding: 0.7em;
        color: darken($color-fond, 50%)
    }
    & > .fa-mobile-alt {
        padding-right: 1em;
    }
    &__num {
        padding: 0.3em 0.6em;
        border-radius: 1.5em;
        background-color: $color-primaire;
        color: white;
        margin-left: -2em;
        font-weight: lighter;
        font-size: 0.8em;
    }
    &--active {
        background-color: lighten($color-primaire, 36%);
        & > i {
            color: $color-primaire;
        }
    }
}

.restaurants {
    background-color: $color-fond;
    padding: 1em 1em 3em 1em;
}
.fiche-resto {
    display: block;
    margin: auto;
    margin-bottom: 1em;
    border-radius: 1em;
    box-shadow: $ombre-default; 
    &__image {
        height: 160px;
        background-size: cover;
        background-position: 0 -50px;
        background-repeat: no-repeat;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        padding-top: 1em;

        &--gout {
            background-image: url(images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        }
        &--enchantee {
            background-image: url(images/stil-u2Lp8tXIcjw-unsplash.jpg);
            background-position: 0 -145px;
        }
        &--francaise {
            background-image: url(images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        }
        &--sens {
            background-image: url(images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        }
    }
    &__etiquette {
        background-color: $color-tertiaire;
        color: darken($color-tertiaire, 35%);
        padding: 0.2em 0.6em;
        margin-left: 15em;
        width: 4em;
        text-align: center;
        border-radius: 0.2em;
    }
    &__description {
        display: flex;
        justify-content: space-between;
        padding-left: 0.5em;
    }
}
.nom-resto {
    margin-bottom: 0.1em;
}
.localisation-resto {
    margin-top: 0;
    font-weight: lighter;
    color: darken($color-fond, 50%);
}
.coeur {
    &:nth-child(2) {
        align-self: center;
        padding-right: 2em;
    }
    & > i {
        font-size: 1.5em;
        color: $color-fond;
        text-shadow: 0 0 3px darken($color-fond, 100%);
        transition: all .5s ease-out;
        &:hover {
            text-shadow: none;
            color: $color-primaire;
        }
    }
}

footer {
    background-color: darken($color-fond, 75%);
    color: white;
    padding: 1em 1em 3em 1em;
    & > div {
        font-size: 0.9em;
        margin-top: 0.5em;
    }
    & > div > i {
        padding-right: 0.5em;
    }
    & > .footer-element {
        font-weight: lighter;
    }
    & > div > .fa-utensils {
        padding-right: 0.6em;
    }
    & > div > .fa-handshake {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 415px) {
    body, html {
        max-width: 1024px;
    }

    .article-2-sections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        .fonctionnement {
            margin-left: 1em;
            margin-top: 1em;
        }
        .restaurants {
            display: flex;
            flex-wrap: wrap;
            margin: 1em;
            background: white;
            .fiche-resto {
                width: 100%;
            }
        }
    }

}

@media screen and (min-width: 1025px) {
    body, html {
        max-width: 1440px;
    }

    .article-2-sections {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1em;
        .fonctionnement {
            margin-left: 1em;
            margin-top: 1em;
        }
        .restaurants {
            display: flex;
            flex-wrap: wrap;
            background: white;
            .titre {
                flex-basis: 100%;
            }
            .fiche-resto {
                width: 45%;
                &__image {
                    background-position: 0;
                }
                &__image--enchantee {
                    background-position: 0;
                }
            }
        }
    }
}